.form {
    border: 1px solid rgb(255, 196, 196);
    padding: 5%!important;
    /* padding-top: 4%; */
    background-color: rgb(221, 221, 221);
    max-width: 600px !important;

}

.form-container {
    padding: 10%;
    padding-top: 5%;
    font-family: 'Play', sans-serif;
}